{% if registered %}
thank you for registrations!
{% else %}
Register as <a href="/adminka/register/doctor/">Doctor</a> or <a href="/adminka/register/patient/">Patient</a>

<form action='' method='post'>
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" value="submit">
</form>
{% endif %}
